<div class="container sombra">
    <form class="form">
          <h4>Cadastrar Técnico</h4>
          <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Cliente</mat-checkbox>
            <mat-checkbox class="margin">Técnico</mat-checkbox>
          </section>

          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome do Técnico">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="CPF do Técnico">
            <mat-icon matSuffix>pin</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>E-mail</mat-label>
            <input matInput type="email" placeholder="E-Mail do Técnico">
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Senha de Acesso">
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>

          <button mat-flat-button class="cadastro"><mat-icon class="mat-18">save</mat-icon> Cadastrar Técnico</button>
          <button mat-flat-button class="cancelar"><mat-icon class="mat-18">cancel</mat-icon> Cancelar Cadastro</button>

    </form>
</div>
