<div class="container">
  <form class="form">
    <h4>Help Desk InforCENTER Sistemas</h4>
    <img src="assets/login.png" alt="">
    <mat-form-field class="full-width">
      <mat-label>E-mail de Login</mat-label>
      <input type="email" matInput placeholder="Ex. seuemail@email.com">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Senha de Acesso</mat-label>
      <input type="password" matInput placeholder="Ex. 123">
    </mat-form-field>
    <button mat-flat-button class="full-width botao">Entrar no sistema</button>
  </form>
</div>
