<mat-card class="card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Help Desk</mat-card-title>
    <mat-card-subtitle>InforCENTER Sistemas</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/helpdesk.png" alt="Help Desk">
  <mat-card-content>
    <p>
      Olá! Seja bem vindo ao Sistema Help Desk Desenvolvido por InforCENTER Sistemas no curso desenvolvedor full stack<b>
        Esse é um sistema de gerenciamento de chamados para help desk dsenvolvido com spring boot 2
      </b>
    </p>
  </mat-card-content>
</mat-card>
