<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-label class="topmenu">Menu Principal</mat-label>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="home"><i class="material-icons">home</i>Home</a>
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="tecnicos"
        ><i class="material-icons">account_circle</i>Técnicos</a
      >
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="clientes"
        ><i class="material-icons">person</i>Clientes</a
      >
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="github"
        ><i class="material-icons">code</i>GitHub</a>
    </mat-nav-list>
    <mat-nav-list class="nav-list">
      <a mat-list-item routerLink="logout"><i class="material-icons">logout</i>Logout</a>
    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="menu" mat-icon-button (click)="drawer.toggle()">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
